.pop-up {
  position: fixed;
  top: 0;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.1);
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
  z-index: 15;
  border-radius: 5px;
  text-align: center;
  width: 400px;
  transition: all 0.8s;
  visibility: hidden;
}

.pop-up.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}

.pop-up i {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #6ac445;
  color: #fff;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  border-radius: 100%;
}

.pop-up__container {
  color: #333;
  margin-top: 25px;
}

.pop-up__container h1 {
  font-size: 30px;
}

.pop-up__container p {
  font-size: 18px;
  margin: 10px 0 20px;
}

.pop-up button {
  background-color: #6ac445;
  border: none;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  box-shadow: rgb(65 163 24) 0px 4px 0px 0px;
}

.pop-up button:focus {
  outline: none;
}

.pop-up button:active {
  transform: translateY(4px);
  box-shadow: rgb(65 163 24) 0px 0px 0px 0px;

}
