.product {
  width: 100%;
}

.product h1 {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kaushan Script', cursive;
  transform: translateY(-30px);
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.product-list .product-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* position: relative; */
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.imgSrc {
  overflow: hidden;
  position: relative;
}

.product-list .product-item .overlay-hover {
  transform: translateY(-100%);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s ease;
  z-index: 999999999;

  /* background-color: red; */
}

.product-list .product-item #buy-now {
  width: 100%;
  height: 14%;
  border: none;
  background-color: #333;
  cursor: pointer;
  color: white;
  transform: translateY(110%);
  transition: transform 0.3s ease;
  font-weight: bold;
  font-size: large;
}

.overlay-hover:hover #buy-now {
  transform: translateY(0%);
}

.product-list .product-item img {
  position: relative;
  object-fit: cover;
  width: 100%;
  cursor: pointer;

  transition: transform 0.3s ease;
}

.imgSrc:hover img {
  transform: scale(1.1);
}

.product-information {
  width: 100%;
  transform: translateY(5px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  font-family: var(--fontFamily);
  cursor: pointer;
  color: white;

  padding: 0px 12px 20px;
  background-color: black;
  /* font-weight: bold; */
}

.product-information h3 {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

.product-information p {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bold;
}

.product-information h3:hover {
  color: red;
}

.product-information p:hover {
  color: red;
}

.top-button {
  width: 100%;
  /* height: 10%; */
  padding: 0px 20px;

  display: flex;
  justify-content: space-between;
  transform: translateY(-0);
}

.top-button i {
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

/* 
#heart-button {
    width: 50px;
    height: 50px;
    font-size: 24px;

    background-color: transparent;
    border: none;
    cursor: pointer;
  
  
} */

#like {
  color: #a0a0a0;
  font-size: 24px;
  cursor: pointer;
  padding-right: 5px;
  /* transform: translateY(20%); */
}

.overlay-click {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* background-color: red; */
}

.top-button #add-cart {
  font-size: 20px;
  color: black;
  border: none;
  background-color: rgba(255, 255, 255, 0.01);
  cursor: pointer;
}

.color-dots {
  display: flex;
  gap: 5px;
  cursor: pointer;
  align-self: flex-end;
  transform: translateY(50px);
  margin-right: 50px;
}

.dot-items {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  border: 1px solid sandybrown;
}

.id {
  opacity: 0;
}

.return-to-page {
  width: 100%;

  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.return-to-page button {
  padding: 10px 30px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 50px;
  font-weight: bold;
}




.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #333;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;

}

.pagination a:last-child {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #333;
}