
:root {
  --hover-color: #fab300;
  --header-top-height: 30px;
  --header-bottom-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  background: #fff;
  color: #333;
  overflow-x: hidden;
}

.header {
}

/* HEADER TOP */
.header__top {
  height: var(--header-top-height);
  background-color: #333;
  width: 100%;
}

.header__top span {
  color: #fff;
  margin-right: 20px;
}

.header__top--container {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__top-item--left {
}

.header__top-item--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 100%;
  margin: auto;
}

.header__top-item {
  margin-right: 20px;
  transition: transform 0.4s cubic-bezier(0.13, 0.39, 0.58, 1);
  position: relative;
}

.header__top-item:hover {
  transform: translateY(-1px);
}

.header__top-item,
.header__top-item-select,
.header__top-link {
  font-size: 16px;
  color: #fff;
}

.header__top-link:hover {
  color: var(--hover-color);
}

.header__top-item-select select {
  font-size: 14px;
  padding: 2px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.header__top-item-select select:focus {
  outline: none;
}

.header__top-link {
  text-decoration: none;
}

/* HEADER BOTTOM */
.header__bottom {
  height: var(--header-bottom-height);
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.header__bottom--logo {
  color: #333;
  font-size: 36px;
  font-weight: 900;
  margin-left: 100px;
}

.header__bottom--list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header__bottom--list ul li {
  margin: 0 20px;
  height: 100%;
  line-height: 80px;
  font-size: 24px;
  color: #333;
  font-weight: 600;
  position: relative;
  transition: all 0.5s;
}

.active .header__bottom--list ul li {
  line-height: 60px;
}

.active .header__bottom--list ul li a {
  height: 60px;
}

.header__bottom--list ul li a {
  display: block;
  height: 80px;
  position: relative;
  text-transform: capitalize;
  text-decoration: none;
  color: #333;
  transition: all 0.2s linear;
}

.header__bottom--list ul li a:hover {
  border-bottom: 5px solid var(--hover-color);
}

.header__bottom--list ul li a:hover {
  color: var(--hover-color);
  font-size: 26px;
}

.header__bottom--extention {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 100px;
}

.header__bottom--extention a {
  color: #333;
  text-decoration: none;
}

.header__bottom--list {
  height: 100%;
}

.user-welcome {
  justify-content: center;
  align-items: center;
  font-size: 14px;
  display: none;
}

.user-welcome.active {
  display: flex;
}

.user-welcome p:last-child {
  color: var(--hover-color);
  margin-left: 4px;
}

.header__bottom--user__list {
  position: absolute;
  top: 38px;
  right: 0;
  height: auto;
  width: 140px;
  border-radius: 5px;
  background-color: #ecebeb;
  box-shadow: rgba(0, 0, 0, 1) 2px 3px;
  list-style: none;
  font-size: 18px;
  z-index: 10;
  display: none;
}

.header__bottom--user__list::before {
  content: '';
  display: block;
  position: absolute;
  top: -14px;
  right: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #ecebeb transparent;
}

.header__bottom--user__list::after {
  content: '';
  display: block;
  position: absolute;
  top: -18px;
  right: 0;
  width: 60px;
  height: 20px;
  background-color: transparent;
}

.header__bottom--user__list li {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__bottom--user__list li button {
  border: none;
  width: 100%;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  padding: 10px;
}

.header__bottom--user__list li button:focus {
  outline: none;
}

.header__bottom--user__list li i {
  float: left;
  margin-left: 5px;
}

.header__bottom--user__list li p {
  float: left;
  margin-left: 10px;
}

/* .header__bottom--user__list li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.header__bottom--user__list li:last-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

.header__bottom--user__list li:hover {
  background-color: #ecebeb;
}

.header__bottom--hide-menu {
  cursor: pointer;
  display: none;
  background: #333;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
}

/* HEADER SLIDER */
.header__slider {
  height: var(--header-slider-height);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.header__slider video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.active .header__bottom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #fff;
  z-index: 10;
}

/* Slider: Button */
.header__slider--btn-container {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.header__slider--btn-container .btn {
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  margin: 10px;
  transform: all 0.5s;
}

.header__slider--btn-container .btn:hover {
  color: var(--hover-color);
}

.header__slider--btn-container .btn:focus {
  outline: none;
}

.header__slider--btn-container .btn:active {
  transform: scale(0.89);
}

/* Header dots */
.header__slider .dots {
  position: absolute;
  list-style-type: none;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__slider .dots li {
  border-radius: 10px;
  margin: 20px;
  height: 10px;
  width: 10px;
  transition: all 0.5s linear;
  background-color: #fff;
}

.header__slider .dots li.active {
  width: 30px;
  background-color: var(--hover-color);
}

/* Section */
.section {
  margin-top: 100px !important;
  text-align: center;
}

.section h1 {
  font-size: 40px;
  margin-bottom: 55px;
}

/* Section 1 */
.section--1__item {
  width: 260px;
  text-align: center;
}

.section--1__item i {
  font-size: 45px;
  margin-bottom: 14px;
}

.section--1__item h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section--1__item p {
  font-size: 18px;
  margin-bottom: 40px;
}

/* Section 2 */
.section--2 {
  background-color: #333;
  width: 100%;
  margin-bottom: 100px;
}

.section--2-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.section--2-item {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section--2-item span {
  font-size: 32px;
  font-weight: 800;
}

.section--2-item p {
  font-size: 20px;
}

/* Section 3 */
.section--3 {
  background-color: #ecebeb;
  padding: 50px 0 40px !important;
  border-radius: 10px;
}

.bike-item {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  flex-direction: column;
}

.bike-item--sale {
  position: absolute;
  width: 110px;
  padding: 2px 0;
  top: 0;
  right: 0;
  background-color: #fb7979;
  color: #ffe70b;
  transform: rotate(45deg) translateX(30px) translateY(-10px);
}

.bike-item:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 2px;
}

.bike-item:hover .bike-item--content::before {
  width: 100%;
}

.bike-item img {
  object-fit: cover;
  width: 100%;
  transition: all 1s ease;
  flex-shrink: 0;
}

.bike-item:hover.bike-item img {
  transform: scale(1.5) rotate(45deg);
}

.bike-item--content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #777;
  background: #fff;
  position: relative;
  overflow: hidden;
}

.bike-item--content::before {
  content: '';
  position: absolute;
  display: block;
  border-top: 1px solid var(--hover-color);
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 0;
  transition: all 0.2s linear;
}

.bike-item--content h2 {
  font-size: 20px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.bike-item--price {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 18px;
  margin-top: 2px;
}

.bike-item--price .title {
  margin-right: 5px;
}

.bike-item--price .new-price {
  color: var(--hover-color);
}

.bike-item--price .seperate {
  margin: 0 5px;
}

.bike-item--price .old-price {
  font-size: 14px;
  color: #777;
  position: relative;
}

.bike-item--price .old-price::before {
  content: '';
  display: block;
  border-top: 1px solid #777;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.section--3-btn {
  margin-top: 40px;
}

.section--3-btn button {
  border: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
}

.section--3-btn button:focus {
  outline: none;
}

.section--3-btn button:active {
  transform: scale(0.95);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Section 4 */
.section--4-container {
  background-color: #333;
}
.section--4 {
  padding: 50px !important;
}

.section--4 h1 {
  margin-top: 20px;
  color: #fff;
}

.section--4 button {
  margin-top: 20px;
  border: none;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  box-shadow: rgb(154, 154, 154) 0px 5px 0px 0px;
}

.section--4 button:active {
  transform: translateY(2px);
  box-shadow: rgb(154, 154, 154) 0px 0px 0px 0px;
}

/* FOOTER */
.footer-container {
  border-top: 1px solid #777;
  background: #333;
  z-index: 10;
}

.footer--section {
  padding: 50px 0 !important;
  color: #fff;
}

.footer--section .wrapper {
  align-items: start;
}

.footer-item {
  width: 240px;
  text-align: left;
  position: relative;
}

.footer-item h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.footer-item ul {
  list-style-type: none;
}

.footer-item ul li {
  margin-bottom: 10px;
}

.footer-item ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-item ul li a:hover {
  color: var(--hover-color);
}

.footer-item--logo {
  font-size: 36px;
  font-weight: 900;
}

.footer-item--produce {
}
.footer-item--company {
}
.footer-item--help {
}
.footer-contact {
}

.footer-socials {
  margin-top: 40px;
  text-align: center;
}

.footer-socials a {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  margin: 10px;
}

.footer-socials a:hover {
  color: var(--hover-color);
}

.footer-copyright {
  text-align: center;
  margin-top: 30px;
}

.footer-copyright p {
  font-size: 14px;
  letter-spacing: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
  display: none;
  transform: translateX(0);
  opacity: 1;
  z-index: 11;
  transition: all 0.5s;
}

.overlay.active__overlay {
  display: block !important;
  opacity: 1 !important;
  z-index: 11 !important;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* NGOC */




  

