* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 100vw;
}

/* Start: Task */
.admin__taskbar {
  width: 280px;
  height: 100vh;
  background-color: #fff;
  padding: 30px 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all 0.5s;
}

.admin__content {
  width: calc(100vw - 300px) !important;
}

.hide .admin__content {
  width: calc(100vw - 120px) !important;
}

.hide .admin__taskbar {
  width: 90px !important;
}

.hide .admin__taskbar .admin__taskbar--body__item a p,
.hide .admin__taskbar .admin__taskbar--header__content h1,
.hide .admin__taskbar .admin__taskbar--footer button p {
  opacity: 0;
  width: 0;
  height: 0;
}

.hide .admin__taskbar .admin__taskbar--body__item.active {
  padding: 0;
  width: 50px;
  pointer-events: none;
}

.hide .admin__taskbar .admin__taskbar--body__item i {
  width: 100%;
  text-align: center;
  margin: 0;
}

.hide .admin__taskbar--footer {
  width: 50px;
}

.hide .admin__taskbar--footer button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide .admin__content--header {
  left: 90px;
  z-index: 999;
}

.hide .admin__content {
  position: relative;
  left: 90px;
  width: calc(100vw - 120px);
}

.admin__taskbar--header {
  display: flex;
  justify-content: start;
  align-items: center;
  transition: all 0.5s;
}

.admin__taskbar--header__img {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 20px;
  overflow: hidden;
}

.admin__taskbar--header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin__taskbar--header__content {
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.admin__taskbar--header__content div {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

.admin__taskbar--header__content div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin__taskbar--header__status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin__taskbar--header__content h1 {
  font-size: 25px;
  text-align: center;
}

.admin__taskbar--header__status span {
  display: inline-block;
  height: 15px;
  width: 25px;
  border-radius: 25px;
  margin-right: 5px;
  background-color: rgb(81, 249, 81);
  position: relative;
}

.admin__taskbar--header__status span::after {
  content: '';
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #333;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.hr {
  width: 100%;
  height: 2px;
  background-color: #333;
  margin: 25px 0;
}

.admin__taskbar--body__list {
  list-style-type: none;
  color: #fff;
  font-size: 18px;
  width: 100%;
  margin-top: 20px;
}

.admin__taskbar--body__item {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.admin__taskbar--body__item.active {
  background: #eee;
  border-radius: 20px;
  padding: 0 10px;
}

.active a {
  cursor: default;
}

.active a::after {
  width: 0 !important;
}

.active a {
  transform: translate(0) !important;
}

.admin__taskbar--body__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #333;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}

.admin__taskbar--body__item a::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  transition: all 0.5s;
  background-color: #333;
  bottom: 0;
  left: 0;
}

.admin__taskbar--body__item a:hover {
  transform: translateX(6px);
}

.admin__taskbar--body__item a:hover::after {
  width: 100%;
}

.admin__taskbar--body__item i {
  margin-right: 10px;
}

.admin__task--footer {
  font-size: 20px;
  width: calc(100% - 60px);
  margin: 0 30px;
  background-color: #333;
  border: none;
  color: #fff;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: 0px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
  border-radius: 5px;
}

.admin__taskbar--footer {
  width: 100%;
}

.admin__taskbar--footer button {
  height: 50px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 18px;
  text-align: start;
  color: #db504a;
  cursor: pointer;
  position: relative;
  font-weight: 600;
  display: flex;
  justify-content: start;
  align-items: center;
}

.admin__taskbar--footer button::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  transition: all 0.5s;
  background-color: #db504a;
  bottom: 0;
  left: 0;
}

.admin__taskbar--footer button:hover {
  transform: translateX(5px);
}

.admin__taskbar--footer button:hover::after {
  width: 100%;
}

.admin__taskbar--footer button i {
  margin-right: 10px;
}
/* End: Task */

/* Start: Pagination */
.pagination__order,
.pagination__user,
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  margin-top: 40px;
  gap: 100px;
}

.pagination__order button,
.pagination__user button,
.pagination button {
  border: none;
  background-color: #333;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
  color: #fff;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.pagination__order button:focus,
.pagination__user button:focus,
.pagination button:focus {
  outline: none;
}

.pagination__order button:active,
.pagination__user button:active,
.pagination button:active {
  transform: translateY(3px);
  box-shadow: rgb(154, 154, 154) 0px 0px 0px 0px;
}

.currentPage {
  font-size: 18px;
  font-weight: 600;
}

.pagination__user--pagination__btn--prev.hide,
.pagination__user--pagination__btn--next.hide,
.pagination__order--pagination__btn--prev.hide,
.pagination__order--pagination__btn--next.hide,
.pagination__btn--prev.hide,
.pagination__btn--next.hide {
  visibility: hidden;
}

/* End: Pagination */

/* start: Overlay */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
/* end: Overlay */

.hideItem {
  display: none;
}

/* Admin Product */
#content-product {
  width: calc(100% - 40px);
}

.admin-product table {
  border-collapse: collapse;
  width: 100%;
  margin: 5px 20px;
}

.admin-product td,
th {
  border: 1px solid #3333;
  padding: 8px;
  text-align: left;
  cursor: pointer;
}

.admin-product .menu tr {
  background-color: #333;
  height: 60px;
  border-radius: 10px;
}

.admin-product .menu th {
  color: white;
  text-align: center;
}

.admin-product .content {
  background-color: #fff;
}

.admin-product .content th {
  align-items: center;
}

.admin-product .content .image {
  height: 100px;
  width: 150px;
}

.admin-product th {
  text-align: center;
  font-size: 16px;
}

.admin-product .id {
  width: 100px;
}
.admin-product .name {
  width: 350px;
}
.admin-product .type {
  width: 100px;
}
.admin-product .date-update {
  width: 150px;
}
.admin-product .date-creat {
  width: 150px;
}
.admin-product .copy {
  width: 100px;
  color: blue;
}
.admin-product .edit {
  width: 100px;
  color: blue;
}
.admin-product .delete {
  width: 100px;
  color: blue;
}

:hover.copy {
  color: red;
}
:hover.edit {
  color: red;
}
:hover.delete {
  color: red;
}
.admin-product .image img {
  width: auto;
  object-fit: cover;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.change-product-info-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}

#form-group--previewImg {
  width: 0%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.change-product-info {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 30px; */
  /* width: 385px; */
  width: 100%;
  border: none;
  border-radius: 12px;
  color: #333;
}

.close {
  position: absolute;
  top: -5px;
  right: 0px;
  font-size: 26px;
  color: red;
  cursor: pointer;
}

.change-product-info h2 {
  font-weight: bold;
  font-size: x-large;
}

.change-product-info form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.change-product-info form .form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.change-product-info form label {
  font-weight: bold;
  font-size: 16px;
}

.change-product-info form input {
  width: 100%;
  height: 35px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #333;
  height: 100%;
}
.change-product-info button {
  width: 100px;
  height: 30px;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  color: #333;
  background-color: rgb(69, 220, 69);
  box-shadow: rgba(48, 191, 13, 0.983) 0px 3px 0px 0px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.change-product-info button:active {
  transform: translateY(3px);
  box-shadow: rgba(48, 191, 13, 0.983) 0px 0px 0px 0px;
}

.admin-product {
  margin-bottom: 20px;
}

.pagination {
  width: 50%;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0 auto;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination a:first-child {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.pagination a:last-child {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.tools {
  width: 100%;
  padding: 20px;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools .add-product {
  display: inline-block;
}

.tools .add-product button {
  border: none;
  height: 40px;
  min-width: 80px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
  width: 150px !important;
  color: #fff;
  background-color: #333;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
}

.tools .add-product button:active {
  transform: translateY(3px);
  box-shadow: rgb(154, 154, 154) 0px 0px 0px 0px;
}

.tools .filter {
  width: 100%;
}

.tools .filter form {
  width: 60%;
  margin: 0 auto;
}

.admin-product-form {
  background-color: #333;
}

.product--reset__btn {
  color: #333;
  background-color: #eee;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
}

.product--filter__btn {
  color: #333;
  background-color: rgb(69, 220, 69);
  box-shadow: rgba(48, 191, 13, 0.983) 0px 3px 0px 0px;
}

/*  ADD PRODUCT FORM */

.cancel-block {
  display: inline-block;
}

.cancel-block button {
  border: none;
  height: 40px;
  min-width: 80px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 600;
  color: #fff;
  background-color: red;
  box-shadow: rgb(248, 119, 119) 0px 3px 0px 0px;
  display: none;
}

.add-product-container {
  width: 100%;
  /* background-color: #333; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-product-form-container {
  width: 500px;
  border-radius: 10px;
  background-color: #fff;
}
.add-product-form-container .title {
  display: flex;
  background-color: #333;
  border-radius: 10px;

  justify-content: center;
  align-items: center;
}
.add-product-form-container .title h2 {
  padding: 20px;
  color: white;
  font-size: x-large;
}

.add-product-form-container form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-product-form-container form .form-item__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.add-product-form-container form .form-item__container .form-item__productPrice,
.add-product-form-container form .form-item__container .form-item__productCode {
  width: 60%;
}

.add-product-form-container form .form-item__container .form-item__productCodeColor,
.add-product-form-container form .form-item__container .form-item__productCategory {
  width: 40%;
}

.add-product-form-container form .form-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.add-product-form-container form .form-item select {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid;
  font-size: 16px;
}
.add-product-form-container form .form-item label {
  font-size: medium;
  font-weight: bold;
}
.add-product-form-container form .form-item input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid;
  border-radius: 10px;
}
.add-product-form-container form button {
  padding: 12px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 20px;

  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.add-product-form-container form button {
  padding: 12px;
  border: 1px solid;
  border-radius: 10px;
  margin-top: 20px;

  background-color: #333;
  color: white;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.add-product-form-container form button:hover {
  background-color: #3333;
  color: black;
}

.newProductNameMessage,
.newProcductIdMessage,
.newProcductPriceMessage,
.newProductColorMessage,
.newMessageCategory {
  color: red;
}
.body__filter--createDtae label {
  font-size: 16px;
  font-weight: 600;
}

.body__filter--createDtae input {
  margin-top: 5px;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #333;
}

.imagePreview {
  border-radius: 5px;
}

.createMessage ,
.nameMessage ,
.updateMessage {
  color: red;
}