.container .content-container .filter-product_container .filter {   
    /* position: ; */
    position: sticky;
    display: none;
    padding: 20px;
    top:  12%;
  
    left: 0;
    width: 250px;
    background-color: #333;
    height: 630px;
    z-index: 1;
    overflow: hidden;
    border-radius: 5px;
}
.filter-icon-container{
    width: 100%; 
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    justify-content: flex-start;
}






/* FILTER ICON */

/* Filter Button */
.filterIcon {
     text-shadow: 1px 1px 2px pink;
    width: 2rem;
    height: 1.5rem;
    display: block;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-sizing: border-box;
}

/* Line Style */
.filterIcon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    border-radius: 2px;
    opacity: 1;
    z-index: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

/* Circle Style */
.filterIcon span::after {
    display: block;
    position: absolute;
    height: 0.25rem;
    width: 0.25rem;
    background: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #000000;
    opacity: 1;
    z-index: 5;
    top: -150%;
    content: "";
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}


/* Filter State - Panel Closed */

/* TOP */
.filterIcon span:nth-child(1) {
    top: 0;
}

/* Line */
.filterIcon span:nth-child(1)::after {
    left: 15%;
}

/* Circle */

/* MIDDLE */
.filterIcon span:nth-child(2) {
    top: 46%;
}

/* Line */
.filterIcon span:nth-child(2)::after {
    left: 60%;
}

/* Circle */

/* BOTTOM */
.filterIcon span:nth-child(3) {
    bottom: 0;
}

/* Line */
.filterIcon span:nth-child(3)::after {
    left: 30%;
}

/* Circle */


/* Closed State - Panel Open */

/* Circle Style */
.filterIcon.open span::after {
    opacity: 0;
}

/* TOP */
.filterIcon.open span:nth-child(1) {
    top: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Line */
.filterIcon.open span:nth-child(1)::after {
    left: 60%;
}

/* Circle */

/* MIDDLE */
.filterIcon.open span:nth-child(2) {
    top: 46%;
    opacity: 0;

}

/* Line */
.filterIcon.open span:nth-child(2)::after {
    left: 15%;
}

/* Circle */

/* BOTTOM */
.filterIcon.open span:nth-child(3) {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* Line */
.filterIcon.open span:nth-child(3)::after {
    left: 55%;
}

/* Circle */


/* Hover State - Move circles slightly on hover*/
.filterIcon:hover span:nth-child(1)::after {
    left: 25%;
}

.filterIcon:hover span:nth-child(2)::after {
    left: 50%;
}

.filterIcon:hover span:nth-child(3)::after {
    left: 40%;
}

/* END FILTER ICON */
/* .filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3333;

} */
/* .price-dropdown{
   
   
    transform: translateY(-100px);
    transition: all .3s ease;
} */
.price{
    background-color: #696969;
    text-align: center;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    
}
.price h4{
    font-size: medium;
    font-weight: bold;
    margin: 10px 0px;
}
.price button{
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.price button:hover{
    background-color: #9C9C9C;
}
.price .price-dropdown{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.price-dropdown .price-menu{
    width: 100%;
    display: flex;
}


.price-dropdown .price-menu li:nth-child(2){
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
.price-dropdown .price-menu .item{
    width: 50%;
    
}

.price-dropdown .price-menu .item input{
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
}







.dropdown {
    width: 100%;
   
    position: relative;
    display: inline-block;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.dropdown-button {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #696969;
    /* border: 1px solid #ccc; */
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
}
.dropdown-button:hover{
    background-color: #9C9C9C;
}   

.dropdown-menu {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.dropdown-menu li {
    width: 100%;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.dropdown-menu li:hover {
    background-color: #9C9C9C;
    color: white;
}
.type{
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    gap: 20px;
}
.type span{
   
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #696969;
    color: white;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}
.type span:hover{
   background-color: #9C9C9C;
}