
@media (max-width: 1200px) {
    header .navbar .navbar-brand{
       font-size: 23px;
    }
    header .navbar .navbar-menu li a{
        display: none;
    }
    header .search-container{
        width: 100%;
    }
    header .search-container input{
     
        box-sizing: border-box; 
    }
    .cart-info .info-item-container .name-img p{
        transform: translateX(-40%);
        font-size: 15px;
    }
    .cart-info .info-item-container .name-img img{
        transform: translateX(-40%);
    }
    .cart-info .info-item-container .item-info { 
        transform: translateX(-5%);
    }
    .cart-info .info-item-container .item-info p{
        
        font-size: 15px;
    }
    
}
@media (max-width: 992px) {
    header .navbar .navbar-brand{
       font-size: 23px;
    }
    header .navbar .navbar-menu li a{
        display: none;
    }
    header .search-container{
        width: 100%;
    }
    header .search-container input{
        box-sizing: border-box; 
    }
    .cart-info .info-item-container .name-img p{
        transform: translateX(-40%);
        font-size: 12px;
    }
    .cart-info .info-item-container .name-img img{
        transform: translateX(-40%);
    }
    .cart-info .info-item-container .item-info { 
        transform: translateX(-8%);
    }
    .cart-info .info-item-container .item-info p{
        
        font-size: 12px;
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark{
        width: 20px;
        height: 20px; 
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark:after{
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    
    .cart-info .info-item-container .item-info .quantity span{   
        font-size: 12px;
    }
    .cart-info .info-item-container .item-info .quantity button{   
        font-size: 20px;
    }
    .cart-info-container .cart-header .menu li h3{
        font-size: 16px;
    }
    footer .totalPrice{
        gap: 10px;
    }
    footer .totalPrice h3{
        font-size: 20px;
    }
    footer .totalPrice span{
        font-size: 20px;
    }
    footer button {
        padding: 20px;
       
    }
}

@media (max-width: 768px) {
    header .navbar .navbar-brand{
       font-size: 23px;
    }
    header .navbar .navbar-menu li a{
        display: none;
    }
    header .search-container{
        width: 100%;
    }
    header .search-container input{
        box-sizing: border-box; 
    }
    .cart-info .info-item-container .name-img p{
        transform: translateX(-40%);
        font-size: 12px;
    }
    .cart-info .info-item-container .name-img img{
        transform: translateX(-40%);
    }
    .cart-info .info-item-container .item-info { 
        transform: translateX(-8%);
    }
    .cart-info .info-item-container .item-info p{
        width: 10%;
        font-size: 13px;
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark{
        width: 20px;
        height: 20px; 
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark:after{
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    
    .cart-info .info-item-container .item-info .quantity .quantity-item{   
       
       transform: translateX(70%);
    }
    .cart-info .info-item-container .item-info .quantity span{   
       
        font-size: 12px;
    }
    .cart-info .info-item-container .item-info .quantity button{   
        font-size: 20px;
    }
    .cart-info-container .cart-header .menu li h3{
        font-size: 16px;
    }
    footer .totalPrice{
        gap: 10px;
    }
    footer .totalPrice h3{
        font-size: 20px;
    }
    footer .totalPrice span{
        font-size: 20px;
    }
    footer button {
        padding: 20px;
       
    }
}
@media (max-width: 678px){
    header .navbar .navbar-brand{
       font-size: 23px;
    }
    header .navbar .navbar-menu li a{
        display: none;
    }
    header .search-container{
        width: 100%;
    }
    header .search-container input{
        box-sizing: border-box; 
    }
    .cart-info .info-item-container .name-img p{
        transform: translateX(-50%);
        font-size: 12px;
    }
    .cart-info .info-item-container .name-img img{
        transform: translateX(-60%);
    }
    .cart-info .info-item-container .item-info { 
        transform: translateX(-8%);
    }
    .cart-info .info-item-container .item-info p{
        width: 10%;
        font-size: 12px;
        transform: translateX(-25%);
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark{
        width: 20px;
        height: 20px; 
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark:after{
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    
    .cart-info .info-item-container .item-info .quantity .quantity-item{   
       
       transform: translateX(70%);
    }
    .cart-info .info-item-container .item-info .quantity span{   
       
        font-size: 12px;
    }
    .cart-info .info-item-container .item-info .quantity button{   
        font-size: 20px;
    }
    .cart-header .menu .menu-item h3{
        font-size: 14px;
       
    }
    footer .totalPrice{
        gap: 10px;
    }
    footer .totalPrice h3{
        font-size: 18px;
    }
    footer .totalPrice span{
        font-size: 16px;
    }
    footer button {
        padding: 20px;
       
    }
}

@media (max-width: 576px) {
     header .navbar .navbar-brand{
       font-size: 23px;
    }
    header .navbar .navbar-menu li a{
        display: none;
    }
    header .search-container{
        width: 100%;
        transform: translateX(-50%);
    }
    header .search-container input{
        box-sizing: border-box; 
    }
    .cart-info .info-item-container .name-img p{
        transform: translateX(-130%);
        font-size: 8px;
    }
    .cart-info .info-item-container .name-img img{
        transform: translateX(-80%);
    }
    .cart-info .info-item-container .item-info { 
        transform: translateX(-8%);
    }
    .cart-info .info-item-container .item-info p{
        width: 10%;
        font-size: 8px;
        transform: translateX(-105%);
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark{
        width: 20px;
        height: 20px; 
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark:after{
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    
    .cart-info .info-item-container .item-info .quantity .quantity-item{   
       
       transform: translateX(70%);
    }
    .cart-info .info-item-container .item-info .quantity span{   
       
        font-size: 8px;
    }
    .cart-info .info-item-container .item-info .quantity button{   
        font-size: 16px;
    }
    .cart-header .menu .menu-item h3{
        font-size: 10px;
       
    }
    footer .totalPrice{
        gap: 10px;
    }
    footer .totalPrice h3{
        font-size: 20px;
    }
    footer .totalPrice span{
        font-size: 20px;
    }
    footer button {
        padding: 20px;
    }
}
@media (max-width: 500px){
     header .navbar .navbar-brand{
       font-size:13px;
    }
    header .navbar .navbar-menu li a{
        display: none;
    }
    header .search-container{
        width: 100%;
        transform: translateX(-80%);
    }
    header .search-container input{
        width: 100px;
    }
    .cart-info{
        margin-top: 20px;
    }
    .cart-header .menu{
       gap: 20px;
    }

    .cart-info .info-item-container .name-img p{
        transform: translateX(-330%);
        font-size: 5px;
    }
    .cart-info .info-item-container .name-img img{
        width: 60px;
        height: 40px;
        transform: translateX(-100%);
    }
    .cart-info .info-item-container .item-info { 
        transform: translateX(-30%);
        gap: 20px;
    }
    .cart-info .info-item-container .item-info p{
        width: 10%;
        font-size: 5px;
        transform: translateX(-105%);
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark{
        width: 20px;
        height: 20px; 
    }
    .cart-info .info-item-container .item-info .checkbox-container .checkmark:after{
        left: 5px;
        top: 2px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
    
    .cart-info .info-item-container .item-info .quantity .quantity-item{   
       gap: 1px;
       transform: translateX(70%);
    }
    .cart-info .info-item-container .item-info .quantity span{   
       
        font-size: 5px;
    }
    .cart-info .info-item-container .item-info .quantity button{   
        font-size: 10px;
    }
    .cart-header .menu .menu-item h3{
        font-size: 8px;
       
    }
    footer .totalPrice{
        gap: 10px;
    }
    footer .totalPrice h3{
        font-size: 20px;
    }
    footer .totalPrice span{
        font-size: 20px;
    }
    footer button {
        padding: 20px;
    }
}





@media (max-width: 320px) {
    body {
      display: none;
    }
  }
  
  /* >= Mobile */
  @media (min-width: 320px) {
    .row {
      margin: 0 2px !important;
    }
  
    .header__bottom--logo {
      /* margin-left: 20px !important; */
      font-size: 30px;
    }
  
    .header__bottom--search__low {
      display: block;
      padding: 0 10px;
    }
  
    .header__bottom--logo {
      margin-left: 20px;
    }
  
    .header__bottom--hide-menu {
      display: block;
      margin-right: 20px !important;
      font-size: 30px;
    }
  }
  
  @media (max-width: 474px) {
    .cart-info_container {
        overflow-x: scroll;
    }

    .header__bottom--list,
    .header__bottom--extention {
      display: none;
    }
  
    .user__wrapper {
      width: 100% !important;
      height: 100% !important;
      border-radius: 0;
    }
  
    .register,
    .login {
      width: 100%;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      padding: 10px;
    }
  
    .policy {
      margin: 8px 0;
    }
  }
  
  @media (min-width: 320px) and (max-width: 740px) {
    .cart-info_container {
        overflow-x: scroll;
    }

    .header__top-item--right {
      display: none;
    }
    
    .header__top-item--left {
      margin-left: 5px;
    }
  
    .header__slider--btn-container .btn {
      font-size: 30px;
    }
  
    .header__slider--bars {
      bottom: 5px;
    }
  
    .header__slider--bar {
      height: 3px !important;
    }
  
    .header__bottom--extention {
      margin-right: 0;
    }
  
    .header__bottom {
      width: 100%;
    }
  
    .header__bottom--list,
    .header__bottom--extention-user,
    .header__bottom--extention-love,
    .header__bottom--extention-cart {
      display: none !important;
    }
  
    .header__bottom--extention-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 250px;
      border-radius: 5px;
      position: relative;
      padding: 0 10px;
      opacity: 1;
    }
  
    .header__bottom--extention-search input {
      opacity: 1;
      width: 250px;
      border: none;
      font-size: 18px;
      height: 40px;
    }
  
    .header__bottom--extention-search i {
      cursor: default;
    }
  
    .section {
      margin-top: 50px !important;
    }
  
    .section--1__item {
      height: auto;
      margin-bottom: 35px !important;
    }
  
    .section--1__item p {
      margin: 0 50px;
    }
  
    .section--2-item {
      margin: 20px 0;
    }
  
    .section--3 {
      border-radius: 5px;
    }
  
    .section--3 h1 {
      margin: 0 10px 25px;
    }
  
    .footer-item {
      text-align: center;
      margin-bottom: 50px;
    }
  
    .footer-copyright {
      margin: 20px 10px 0;
    }
  
    /* START: REG/LOG FORM ON LOW DEVICE */
    .user__wrapper {
      width: 450px;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      width: 100%;
      transform: translate(0);
    }
  
    .user__wrapper.login__active .register__info {
      width: 100%;
      transform: translateX(-100%);
    }
  
    .user__wrapper.login__active .form__close--global {
      color: #333;
    }
  
    .signin,
    .register__again {
      display: flex !important;
      text-align: center;
    }
  
    .register__background,
    .login__background {
      display: none;
    }
    /* END: REG/LOG FORM ON LOW DEVICE */
  
    .hide__menu {
      width: 100vw;
    }
  
    .hide__menu.active {
      transform: translate(0, 0);
      right: 0;
      left: 0;
    }
  }
  
  @media (min-width: 475px) and (max-width: 740px) {
    .cart-info_container {
        overflow-x: scroll;
    }

    .header__top-item--right {
      display: none;
    }
  
    .header__top-item--left {
      margin-left: 5px;
    }
  
    .header__bottom--logo,
    .header__bottom--hide-menu {
      transition: all 0.5s linear;
    }
  
    .search--active .header__bottom--logo {
      width: 0;
      opacity: 0;
      margin: 0 !important;
    }
  
    .search--active .header__bottom--extention-search {
      margin: 0 10px;
      width: 400px;
    }
  
    .search--active .header__bottom--hide-menu {
      width: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
    }
  
    /* START: REG/LOG FORM ON LOW DEVICE */
    .user__wrapper {
      width: 450px;
      height: 600px;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      width: 100%;
      transform: translate(0);
    }
  
    .user__wrapper.login__active .register__info {
      width: 100%;
      transform: translateX(-100%);
    }
  
    .user__wrapper.login__active .form__close--global {
      color: #333;
    }
  
    .signin,
    .register__again {
      display: flex !important;
      text-align: center;
      bottom: 10px;
    }
  
    .register__background,
    .login__background {
      display: none;
    }
    /* END: REG/LOG FORM ON LOW DEVICE */
  
    @keyframes bottomUp {
      0% {
        height: 0;
        opacity: 0;
        transform: translate(-50%, 80%);
      }
  
      40% {
        transform: translate(-50%, -100%);
      }
  
      100% {
        height: 600px;
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
  
  /* >= Tablet */
  
  /* PC medium resolution > */
  @media (min-width: 1113px) {
  }
  
  /* Tablet - PC low resolution */
  @media (min-width: 740px) and (max-width: 1023px) {
    .header__bottom--list ul li {
      font-size: 22px;
      margin: auto 10px;
    }
  
    .header__bottom--extention {
      margin-right: 0;
    }
  
    .header__bottom--list,
    .header__bottom--extention-user,
    .header__bottom--extention-love,
    .header__bottom--extention-cart {
      display: none !important;
    }
  
    .header__bottom--extention-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 400px;
      border-radius: 5px;
      position: relative;
      padding: 0 10px;
      opacity: 1;
    }
  
    .header__bottom--extention-search input {
      opacity: 1;
      width: 400px;
      border: none;
      font-size: 18px;
      height: 40px;
    }
  
    .header__bottom--extention-search i {
      cursor: default;
    }
  
    .section--1 {
      margin: 0 20px;
    }
  
    .footer-item {
      margin-bottom: 30px;
      text-align: center;
    }
  
    .footer-item--logo {
      text-align: center;
      margin-bottom: 20px;
    }
  
    /* START: REG/LOG FORM ON LOW DEVICE */
    .user__wrapper {
      width: 450px;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      width: 100%;
      transform: translate(0);
    }
  
    .user__wrapper.login__active .register__info {
      width: 100%;
      transform: translateX(-100%);
    }
  
    .user__wrapper.login__active .form__close--global {
      color: #333;
    }
  
    .signin,
    .register__again {
      display: flex !important;
      text-align: center;
    }
  
    .register__background,
    .login__background {
      display: none;
    }
    /* END: REG/LOG FORM ON LOW DEVICE */
  }
  
  /* > PC low resolution */
  @media (min-width: 1024px) and (max-width: 1239px) {
    .user-welcome {
      margin-left: 20px;
    }
  
    .header__top-item-select {
      margin-right: 20px;
    }
  
    .header__bottom--list ul li {
      margin: auto 15px;
    }
  
    .header__bottom--extention-user,
    .header__bottom--extention-love,
    .header__bottom--extention-cart {
      display: block;
    }
  
    .header__bottom--extention {
      margin-right: 20px;
    }
  
    .header__bottom--logo {
      margin-left: 20px !important;
    }
  
    .header__bottom--search__low {
      display: none;
    }
  
    .header__bottom--extention-item {
      margin: auto 15px;
    }
  
    .search--active .header__bottom--list {
      width: 0;
      opacity: 0;
    }
  
    .section--1 .wrapper {
      margin: 0 20px;
    }
  
    .section--3 {
      width: 100%;
    }
  
    .footer-item--logo {
      margin: 0 auto 25px;
    }
  }
  
  @media (min-width: 1024px) {
    .header__top {
      display: block;
    }
  
    .header__bottom--logo {
      margin-left: 100px;
      transition: all 0.8s linear;
    }
  
    .search--active .header__bottom--list {
      width: 0;
      opacity: 0;
    }
  
    .header__bottom--list,
    .header__bottom--extention {
      display: flex;
    }
  
    .header__bottom--extention {
      transition: all 0.8s linear;
    }
  
    .header__bottom--hide-menu {
      display: none;
    }
  
    .footer-item--logo {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 1484px) {
    .search--active .header__bottom--list {
      z-index: 10;
    }
  }
  
  @media (min-width: 1495px) {
    .search--active .header__bottom--list {
      opacity: 1;
    }
  }
  
  /* Responsive Column */
  .grid {
    width: 100%;
    display: block;
    padding: 0;
  }
  
  .grid.wide {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }
  
  .col {
    padding: 0 12px;
  }
  
  /* Small */
  @media (max-width: 740px) {
    .col.c-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col.c-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .col.c-12-bi {
      flex-basis: 80%;
      max-width: 80%;
      margin: 0 20px 40px;
    }
  }
  
  /* Medium */
  @media (min-width: 740px) and (max-width: 1095px) {
    .col.m-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col.m-6-bi {
      flex-basis: 40%;
      max-width: 40%;
      margin: 0 20px 40px;
    }
  
    .col.m-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .footer-item {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  
  /* Large */
  @media (min-width: 1096px) {
    .col.l-4-bi {
      flex-basis: 30%;
      max-width: 30%;
      margin: 0 12px 24px;
    }
  
    .col.l-3 {
      flex-basis: 25% !important;
      max-width: 25% !important;
    }
  
    .col.l-2 {
      flex-basis: 20%;
      max-width: 20%;
    }
  }
  
  /* Animation */
  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* >= Mobile */
  @media (max-width: 320px) {
  }
  
  @media (min-width: 320px) {
    .row {
      margin: 0 2px !important;
    }
  
    .header__bottom--logo {
      /* margin-left: 20px !important; */
      font-size: 30px;
    }
  
    .header__bottom--search__low {
      display: block;
      padding: 0 10px;
    }
  
    .header__bottom--logo {
      margin-left: 20px;
    }
  
    .header__bottom--hide-menu {
      display: block;
      margin-right: 20px !important;
      font-size: 30px;
    }
  }
  
  @media (max-width: 474px) {
    .header__bottom--list,
    .header__bottom--extention {
      display: none;
    }
  
    .user__wrapper {
      width: 100% !important;
      height: 100% !important;
      border-radius: 0;
    }
  
    .register,
    .login {
      width: 100%;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      padding: 10px;
    }
  
    .policy {
      margin: 8px 0;
    }
  }
  
  @media (min-width: 320px) and (max-width: 740px) {
    .header__slider--btn-container .btn {
      font-size: 30px;
    }
  
    .header__slider--bars {
      bottom: 5px;
    }
  
    .header__slider--bar {
      height: 3px !important;
    }
  
    .header__bottom--extention {
      margin-right: 0;
    }
  
    .header__bottom {
      width: 100%;
    }
  
    .header__bottom--list,
    .header__bottom--extention-user,
    .header__bottom--extention-love,
    .header__bottom--extention-cart {
      display: none !important;
    }
  
    .header__bottom--extention-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 250px;
      border-radius: 5px;
      position: relative;
      padding: 0 10px;
      opacity: 1;
    }
  
    .header__bottom--extention-search input {
      opacity: 1;
      width: 250px;
      border: none;
      font-size: 18px;
      height: 40px;
    }
  
    .header__bottom--extention-search i {
      cursor: default;
    }
  
    .section {
      margin-top: 50px !important;
    }
  
    .section--1__item {
      height: auto;
      margin-bottom: 35px !important;
    }
  
    .section--1__item p {
      margin: 0 50px;
    }
  
    .section--2-item {
      margin: 20px 0;
    }
  
    .section--3 {
      border-radius: 5px;
    }
  
    .section--3 h1 {
      margin: 0 10px 25px;
    }
  
    .footer-item {
      text-align: center;
      margin-bottom: 50px;
    }
  
    .footer-copyright {
      margin: 20px 10px 0;
    }
  
    /* START: REG/LOG FORM ON LOW DEVICE */
    .user__wrapper {
      width: 450px;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      width: 100%;
      transform: translate(0);
    }
  
    .user__wrapper.login__active .register__info {
      width: 100%;
      transform: translateX(-100%);
    }
  
    .user__wrapper.login__active .form__close--global {
      color: #333;
    }
  
    .signin,
    .register__again {
      display: flex !important;
      text-align: center;
    }
  
    .register__background,
    .login__background {
      display: none;
    }
    /* END: REG/LOG FORM ON LOW DEVICE */
  
    .hide__menu {
      width: 100vw;
    }
  
    .hide__menu.active {
      transform: translate(0, 0);
      right: 0;
      left: 0;
    }
  }
  
  @media (min-width: 475px) and (max-width: 740px) {
    .header__bottom--logo,
    .header__bottom--hide-menu {
      transition: all 0.5s linear;
    }
  
    .search--active .header__bottom--logo {
      width: 0;
      opacity: 0;
      margin: 0 !important;
    }
  
    .search--active .header__bottom--extention-search {
      margin: 0 10px;
      width: 400px;
    }
  
    .search--active .header__bottom--hide-menu {
      width: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
    }
  
    /* START: REG/LOG FORM ON LOW DEVICE */
    .user__wrapper {
      width: 450px;
      height: 600px;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      width: 100%;
      transform: translate(0);
    }
  
    .user__wrapper.login__active .register__info {
      width: 100%;
      transform: translateX(-100%);
    }
  
    .user__wrapper.login__active .form__close--global {
      color: #333;
    }
  
    .signin,
    .register__again {
      display: flex !important;
      text-align: center;
      bottom: 10px;
    }
  
    .register__background,
    .login__background {
      display: none;
    }
    /* END: REG/LOG FORM ON LOW DEVICE */
  
    @keyframes bottomUp {
      0% {
        height: 0;
        opacity: 0;
        transform: translate(-50%, 80%);
      }
  
      40% {
        transform: translate(-50%, -100%);
      }
  
      100% {
        height: 600px;
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  }
  
  /* >= Tablet */
  
  /* PC medium resolution > */
  @media (min-width: 1113px) {
  }
  
  /* Tablet - PC low resolution */
  @media (min-width: 740px) and (max-width: 1023px) {
    .header__bottom--list ul li {
      font-size: 22px;
      margin: auto 10px;
    }
  
    .header__bottom--extention {
      margin-right: 0;
    }
  
    .header__bottom--list,
    .header__bottom--extention-user,
    .header__bottom--extention-love,
    .header__bottom--extention-cart {
      display: none !important;
    }
  
    .header__bottom--extention-search {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 400px;
      border-radius: 5px;
      position: relative;
      padding: 0 10px;
      opacity: 1;
    }
  
    .header__bottom--extention-search input {
      opacity: 1;
      width: 400px;
      border: none;
      font-size: 18px;
      height: 40px;
    }
  
    .header__bottom--extention-search i {
      cursor: default;
    }
  
    .section--1 {
      margin: 0 20px;
    }
  
    .footer-item {
      margin-bottom: 30px;
      text-align: center;
    }
  
    .footer-item--logo {
      text-align: center;
      margin-bottom: 20px;
    }
  
    /* START: REG/LOG FORM ON LOW DEVICE */
    .user__wrapper {
      width: 450px;
    }
  
    .user__wrapper.register__active .register__info,
    .user__wrapper.login__active .login__info {
      width: 100%;
      transform: translate(0);
    }
  
    .user__wrapper.login__active .register__info {
      width: 100%;
      transform: translateX(-100%);
    }
  
    .user__wrapper.login__active .form__close--global {
      color: #333;
    }
  
    .signin,
    .register__again {
      display: flex !important;
      text-align: center;
    }
  
    .register__background,
    .login__background {
      display: none;
    }
    /* END: REG/LOG FORM ON LOW DEVICE */
  }
  
  /* > PC low resolution */
  @media (min-width: 1024px) and (max-width: 1239px) {
    .user-welcome {
      margin-left: 20px;
    }
  
    .header__top-item-select {
      margin-right: 20px;
    }
  
    .header__bottom--list ul li {
      margin: auto 15px;
    }
  
    .header__bottom--extention-user,
    .header__bottom--extention-love,
    .header__bottom--extention-cart {
      display: block;
    }
  
    .header__bottom--extention {
      margin-right: 20px;
    }
  
    .header__bottom--logo {
      margin-left: 20px !important;
    }
  
    .header__bottom--search__low {
      display: none;
    }
  
    .header__bottom--extention-item {
      margin: auto 15px;
    }
  
    .search--active .header__bottom--list {
      width: 0;
      opacity: 0;
    }
  
    .section--1 .wrapper {
      margin: 0 20px;
    }
  
    .section--3 {
      width: 100%;
    }
  
    .footer-item--logo {
      margin: 0 auto 25px;
    }
  }
  
  @media (min-width: 1024px) {
    .header__top {
      display: block;
    }
  
    .header__bottom--logo {
      margin-left: 100px;
      transition: all 0.8s linear;
    }
  
    .search--active .header__bottom--list {
      width: 0;
      opacity: 0;
    }
  
    .header__bottom--list,
    .header__bottom--extention {
      display: flex;
    }
  
    .header__bottom--extention {
      transition: all 0.8s linear;
    }
  
    .header__bottom--hide-menu {
      display: none;
    }
  
    .footer-item--logo {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  
  @media (min-width: 1484px) {
    .search--active .header__bottom--list {
      z-index: 10;
    }
  }
  
  @media (min-width: 1495px) {
    .search--active .header__bottom--list {
      opacity: 1;
    }
  }
  
  /* Responsive Column */
  .grid {
    width: 100%;
    display: block;
    padding: 0;
  }
  
  .grid.wide {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
  }
  
  .col {
    padding: 0 12px;
  }
  
  /* Small */
  @media (max-width: 740px) {
    .col.c-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col.c-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .col.c-12-bi {
      flex-basis: 80%;
      max-width: 80%;
      margin: 0 20px 40px;
    }
  }
  
  /* Medium */
  @media (min-width: 740px) and (max-width: 1095px) {
    .col.m-6 {
      flex-basis: 50%;
      max-width: 50%;
    }
  
    .col.m-6-bi {
      flex-basis: 40%;
      max-width: 40%;
      margin: 0 20px 40px;
    }
  
    .col.m-12 {
      flex-basis: 100%;
      max-width: 100%;
    }
  
    .footer-item {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  
  /* Large */
  @media (min-width: 1096px) {
    .col.l-4-bi {
      flex-basis: 30%;
      max-width: 30%;
      margin: 0 12px 24px;
    }
  
    .col.l-3 {
      flex-basis: 25% !important;
      max-width: 25% !important;
    }
  
    .col.l-2 {
      flex-basis: 20%;
      max-width: 20%;
    }
  }
  
  /* Animation */
  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  