.mb10px {
  margin-bottom: 10px;
}

.user__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  z-index: 100;
  opacity: 1;
  background-color: #fff;
  height: 600px;
  width: 900px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  display: none;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out;
  animation: bottomUp 0.8s ease-in-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.register,
.login {
  position: absolute;
  height: 100%;
  width: 100%;
}

.user__wrapper.user__active {
  display: block;
  z-index: 99999;
  opacity: 1;
}

.register__background,
.login__background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

.register__background h1,
.login__background h1 {
  font-size: 40px;
}

.register__background p,
.login__background p {
  margin: 30px 0;
  color: #eeeeee;
}

.register__background button,
.login__background button {
  background-color: #fff;
  border: none;
  color: #333;
  height: 50px;
  width: 150px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
}

.register__background button:focus,
.login__background button:focus {
  outline: none;
}

.register__background button:active,
.login__background button:active {
  transform: translateY(3px);
  box-shadow: rgb(154, 154, 154) 0px 0px 0px 0px;
}

.user__wrapper.register__active .register__info {
  transition: all 0.5s linear;
  top: 0;
  transform: translate(100%, 0);
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 13;
  background-color: #fff;
}

.user__wrapper.register__active .register__background {
  top: 0;
  transform: translate(0, 0);
  width: 50%;
  height: 100%;
  background-color: #333;
  color: #fff;
  z-index: 14;
  transition: transform 0.5s linear;
}

.user__wrapper.register__active .login__background {
  top: 0;
  transform: translate(0, 0);
  width: 50%;
  height: 100%;
  background-color: #333;
  color: #fff;
  z-index: 12;
  transition: transform 0.5s linear;
}

.user__wrapper.register__active .login__info {
  width: 450px;
  height: 100%;
  transform: translate(100%, 0);
  transition: all 0.5s linear;
  z-index: 12;
  background-color: #fff;
}

.user__wrapper.login__active .form__close--global {
  color: #fff;
}

.user__wrapper.login__active .login__info {
  transition: all 0.5s linear;
  width: 50%;
  height: 100%;
  top: 0;
  transform: translate(0, 0);
  z-index: 13;
  background-color: #fff;
  transition: all 0.5s linear;
}

.user__wrapper.login__active .login__background {
  transform: translate(100%, 0);
  top: 0;
  height: 100%;
  width: 50%;
  color: #fff;
  background-color: #333;
  border: none;
  z-index: 14;
  transition: transform 0.5s linear;
}

.user__wrapper.login__active .register__info {
  transition: all 0.5s linear;
  top: 0;
  transform: translate(0%, 0);
  height: 100%;
  width: 50%;
  background-color: #fff;
  z-index: 12;
}

.user__wrapper.login__active .register__background {
  transition: transform 0.5s linear;
  top: 0;
  transform: translate(100%, 0);
  height: 100%;
  width: 50%;
  background-color: #fff;
  z-index: 12;
}

.register__info,
.login__info {
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.login__info form {
  width: 100%;
}

.user__wrapper .form__close--global {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  border: none;
  background: transparent;
  color: #333;
  font-size: 28px;
  cursor: pointer;
}

.register__info .form__close,
.login__info .form__close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  font-size: 32px;
  background-color: transparent;
  cursor: pointer;
  color: #333;
}

.user__wrapper .form__close--global:hover,
.register__info .form__close:hover,
.login__info .form__close:hover {
  color: rgb(255, 68, 68);
}

.login__info h1,
.register__info h1 {
  text-align: center;
}

.login__info--input,
.register__info--input {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
}

.login__info--input label,
.register__info--input label {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 3px;
}

.login__info--input input,
.register__info--input input {
  border-radius: 5px;
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #eeeeee;
  border: none;
}

.register__info--input .register__info--input-password {
  padding-right: 50px;
}

.login__info--input p,
.register__info--input p {
  margin: 10px 0 0;
  color: rgb(255, 92, 92);
}

.password__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.password__container input {
  width: 100%;
}

.password__container button {
  position: absolute;
  right: 0;
  width: 40px;
  background-color: #333;
  color: #fff;
  height: 37px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 1px;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
  line-height: 40px;
  border: none;
}

.password__container button:focus {
  outline: none;
}

.password__container button:active {
  transform: translateY(3px);
  box-shadow: rgb(154, 154, 154) 0px 0px 0px 0px;
}

.hide {
  display: none;
}

.policy {
  margin: 20px 0 15px;
  text-align: center;
  font-size: 14px;
}

.policy a {
  text-decoration: none;
  color: var(--hover-color);
}

.login__info--submit,
.register__info--submit {
  width: 100%;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  height: 40px;
  font-weight: 600;
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
}

.login__info--submit:active,
.register__info--submit:active {
  transform: translateY(3px);
  box-shadow: rgb(154, 154, 154) 0px 0px 0px 0px;
}

.login__info--submit {
  margin-bottom: 15px;
}

.login__info--create__other,
.regis__info--create__other {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #333;
  padding: 10px 0;
  height: 40px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__info--create__other:active,
.regis__info--create__other:active {
  transform: translateY(2px);
}

.login__info--create__other svg,
.regis__info--create__other svg {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.forgot__password {
  text-align: center;
  margin: 20px 0 10px;
}

.forgot__password a {
  color: #333;
  text-decoration: none;
}

.signin,
.register__again {
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__again p,
.signin p {
  font-size: 14px;
  color: #333;
  margin-right: 5px;
}

.register__again button,
.signin button {
  border: none;
  background-color: transparent;
  color: var(--hover-color);
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
}

/* start: CSS WHEN LOGIN OR NON LOGIN ON LOW DEVICE (HIDE MENU) */
.hide__menu--list__extention .header__bottom--extention-user .header__bottom--extention__icon--up,
.hide__menu--list__extention .header__bottom--extention-user .header__bottom--extention__icon--down {
  display: none;
}

.active-up .header__bottom--extention__icon--right,
.active-down .header__bottom--extention__icon--right {
  display: none;
}

.active-up .header__bottom--extention__icon--up {
  display: block !important;
}

.active-up .header__bottom--extention__icon--down {
  display: none !important;
}

.active-down .header__bottom--extention__icon--down {
  display: block !important;
}

.active-down .header__bottom--extention__icon--up {
  display: none !important;
}

@keyframes bottomUp {
  0% {
    height: 0;
    opacity: 0;
    transform: translate(-50%, 80%);
  }

  40% {
    transform: translate(-50%, -100%);
  }

  100% {
    height: 600px;
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
