/* >= Mobile */
@media (max-width: 320px) {
}

@media (min-width: 320px) {
  .row {
    margin: 0 2px !important;
  }

  .header__top {
    display: none;
  }

  .header__bottom--logo {
    /* margin-left: 20px !important; */
    font-size: 30px;
  }

  .header__bottom--search__low {
    display: block;
    padding: 0 10px;
  }

  .header__bottom--logo {
    margin-left: 20px;
  }

  .header__bottom--hide-menu {
    display: block;
    margin-right: 20px !important;
    font-size: 30px;
  }
}

@media (max-width: 474px) {
  .header__bottom--list,
  .header__bottom--extention {
    display: none;
  }

  .user__wrapper {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0;
  }

  .register,
  .login {
    width: 100%;
  }

  .user__wrapper.register__active .register__info,
  .user__wrapper.login__active .login__info {
    padding: 10px;
  }

  .policy {
    margin: 8px 0;
  }
}

@media (min-width: 320px) and (max-width: 740px) {
  .header__slider--btn-container .btn {
    font-size: 30px;
  }

  .header__slider--bars {
    bottom: 5px;
  }

  .header__slider--bar {
    height: 3px !important;
  }

  .header__bottom--extention {
    margin-right: 0;
  }

  .header__bottom {
    width: 100%;
  }

  .header__bottom--list,
  .header__bottom--extention-user,
  .header__bottom--extention-love,
  .header__bottom--extention-cart {
    display: none !important;
  }

  .header__bottom--extention-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 250px;
    border-radius: 5px;
    position: relative;
    padding: 0 10px;
    opacity: 1;
  }

  .header__bottom--extention-search input {
    opacity: 1;
    width: 250px;
    border: none;
    font-size: 18px;
    height: 40px;
  }

  .header__bottom--extention-search i {
    cursor: default;
  }

  .section {
    margin-top: 50px !important;
  }

  .section--1__item {
    height: auto;
    margin-bottom: 35px !important;
  }

  .section--1__item p {
    margin: 0 50px;
  }

  .section--2-item {
    margin: 20px 0;
  }

  .section--3 {
    border-radius: 5px;
  }

  .section--3 h1 {
    margin: 0 10px 25px;
  }

  .footer-item {
    text-align: center;
    margin-bottom: 50px;
  }

  .footer-copyright {
    margin: 20px 10px 0;
  }

  /* START: REG/LOG FORM ON LOW DEVICE */
  .user__wrapper {
    width: 450px;
  }

  .user__wrapper.register__active .register__info,
  .user__wrapper.login__active .login__info {
    width: 100%;
    transform: translate(0);
  }

  .user__wrapper.login__active .register__info {
    width: 100%;
    transform: translateX(-100%);
  }

  .user__wrapper.login__active .form__close--global {
    color: #333;
  }

  .signin,
  .register__again {
    display: flex !important;
    text-align: center;
  }

  .register__background,
  .login__background {
    display: none;
  }
  /* END: REG/LOG FORM ON LOW DEVICE */

  .hide__menu {
    width: 100vw;
  }

  .hide__menu.active {
    transform: translate(0, 0);
    right: 0;
    left: 0;
  }
}

@media (min-width: 475px) and (max-width: 740px) {
  .header__bottom--logo,
  .header__bottom--hide-menu {
    transition: all 0.5s linear;
  }

  .search--active .header__bottom--logo {
    width: 0;
    opacity: 0;
    margin: 0 !important;
  }

  .search--active .header__bottom--extention-search {
    margin: 0 10px;
    width: 400px;
  }

  .search--active .header__bottom--hide-menu {
    width: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
  }

  /* START: REG/LOG FORM ON LOW DEVICE */
  .user__wrapper {
    width: 450px;
    height: 600px;
  }

  .user__wrapper.register__active .register__info,
  .user__wrapper.login__active .login__info {
    width: 100%;
    transform: translate(0);
  }

  .user__wrapper.login__active .register__info {
    width: 100%;
    transform: translateX(-100%);
  }

  .user__wrapper.login__active .form__close--global {
    color: #333;
  }

  .signin,
  .register__again {
    display: flex !important;
    text-align: center;
    bottom: 10px;
  }

  .register__background,
  .login__background {
    display: none;
  }
  /* END: REG/LOG FORM ON LOW DEVICE */

  @keyframes bottomUp {
    0% {
      height: 0;
      opacity: 0;
      transform: translate(-50%, 80%);
    }

    40% {
      transform: translate(-50%, -100%);
    }

    100% {
      height: 600px;
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }
}

/* >= Tablet */

/* PC medium resolution > */
@media (min-width: 1113px) {
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .header__bottom--list ul li {
    font-size: 22px;
    margin: auto 10px;
  }

  .header__bottom--extention {
    margin-right: 0;
  }

  .header__bottom--list,
  .header__bottom--extention-user,
  .header__bottom--extention-love,
  .header__bottom--extention-cart {
    display: none !important;
  }

  .header__bottom--extention-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    border-radius: 5px;
    position: relative;
    padding: 0 10px;
    opacity: 1;
  }

  .header__bottom--extention-search input {
    opacity: 1;
    width: 400px;
    border: none;
    font-size: 18px;
    height: 40px;
  }

  .header__bottom--extention-search i {
    cursor: default;
  }

  .section--1 {
    margin: 0 20px;
  }

  .footer-item {
    margin-bottom: 30px;
    text-align: center;
  }

  .footer-item--logo {
    text-align: center;
    margin-bottom: 20px;
  }

  /* START: REG/LOG FORM ON LOW DEVICE */
  .user__wrapper {
    width: 450px;
  }

  .user__wrapper.register__active .register__info,
  .user__wrapper.login__active .login__info {
    width: 100%;
    transform: translate(0);
  }

  .user__wrapper.login__active .register__info {
    width: 100%;
    transform: translateX(-100%);
  }

  .user__wrapper.login__active .form__close--global {
    color: #333;
  }

  .signin,
  .register__again {
    display: flex !important;
    text-align: center;
  }

  .register__background,
  .login__background {
    display: none;
  }
  /* END: REG/LOG FORM ON LOW DEVICE */
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .user-welcome {
    margin-left: 20px;
  }

  .header__top-item-select {
    margin-right: 20px;
  }

  .header__bottom--list ul li {
    margin: auto 15px;
  }

  .header__bottom--extention-user,
  .header__bottom--extention-love,
  .header__bottom--extention-cart {
    display: block;
  }

  .header__bottom--extention {
    margin-right: 20px;
  }

  .header__bottom--logo {
    margin-left: 20px !important;
  }

  .header__bottom--search__low {
    display: none;
  }

  .header__bottom--extention-item {
    margin: auto 15px;
  }

  .search--active .header__bottom--list {
    width: 0;
    opacity: 0;
  }

  .section--1 .wrapper {
    margin: 0 20px;
  }

  .section--3 {
    width: 100%;
  }

  .footer-item--logo {
    margin: 0 auto 25px;
  }
}

@media (min-width: 1024px) {
  .header__top {
    display: block;
  }

  .header__bottom--logo {
    margin-left: 100px;
    transition: all 0.8s linear;
  }

  .search--active .header__bottom--list {
    width: 0;
    opacity: 0;
  }

  .header__bottom--list,
  .header__bottom--extention {
    display: flex;
  }

  .header__bottom--extention {
    transition: all 0.8s linear;
  }

  .header__bottom--hide-menu {
    display: none;
  }

  .footer-item--logo {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (min-width: 1484px) {
  .search--active .header__bottom--list {
    z-index: 10;
  }
}

@media (min-width: 1495px) {
  .search--active .header__bottom--list {
    opacity: 1;
  }
}

/* Responsive Column */
.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.col {
  padding: 0 12px;
}

/* Small */
@media (max-width: 740px) {
  .col.c-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col.c-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col.c-12-bi {
    flex-basis: 80%;
    max-width: 80%;
    margin: 0 20px 40px;
  }
}

/* Medium */
@media (min-width: 740px) and (max-width: 1095px) {
  .col.m-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col.m-6-bi {
    flex-basis: 40%;
    max-width: 40%;
    margin: 0 20px 40px;
  }

  .col.m-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .footer-item {
    text-align: center;
    margin-bottom: 50px;
  }
}

/* Large */
@media (min-width: 1096px) {
  .col.l-4-bi {
    flex-basis: 30%;
    max-width: 30%;
    margin: 0 12px 24px;
  }

  .col.l-3 {
    flex-basis: 25% !important;
    max-width: 25% !important;
  }

  .col.l-2 {
    flex-basis: 20%;
    max-width: 20%;
    font-family: 'Kaushan Script', cursive;
  }
}

/* Animation */
@keyframes fade {
  0% {
    height: 550px;
    opacity: 1;
  }

  20% {
    width: 450px;
  }

  80% {
    height: 50px;
    width: 0px;
  }

  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
