.slide-show{
    width: 100vw;
    overflow: hidden;
    
}

.slideshow{
    width: 96%;
    height: auto;
    gap: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;


}

.slideshow img{
   
    width: 50%;
    height: 100%;
    object-fit: cover;
    
}
.slideshow img:nth-child(2){
   margin-left: 8px;
  
}
.slideshow img:nth-child(3){
   margin-left: 8px;
  
}
.slideshow-img{
    
    display: flex;
    flex-direction: row;
    transition: transform 3s ease;
    /* transform: translateX(300%); */
}
.dots{
    position: absolute;
    width: 100%;
    height: 10px;
    /* background-color: red; */
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
 
}
.dots .dot{
    width: 18px;
    height: 18px;
    border: 1px solid #505050;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}
.slide-btn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background-color: #303030;
    color: #909090;
    cursor: pointer;

}






