@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Dancing+Script:wght@400;500;600;700&family=Kaushan+Script&family=Manrope:wght@300;400;500;600;700;800&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Press+Start+2P&family=Roboto:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header .navbar {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #4F4F4F;
}

header .navbar .navbar-brand {

    font-size: 35px;
    font-weight: bold;
    color: white;
    margin-left: 10%;
    color: white;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px #282828;

}

header .navbar .navbar-menu {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
}

header .navbar .navbar-menu li {
    position: relative;
}

header .navbar .navbar-menu li::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 5px;
    background-color: red;
    bottom: -2px;
    left: 0;
    transition: width .3s ease-in-out;
}

header .navbar .navbar-menu li:hover::after {
    width: 100%;
}

header .navbar .navbar-menu li a {
    font-size: x-large;
    font-weight: bold;
    color: white;

    text-decoration: none;
    -webkit-text-stroke: 1px #282828;
    text-shadow: 0px 4px 4px #282828;

}




.search-container {

    display: flex;
    padding: 20px;
    gap: 20px;
}

.search-container input {

    padding: 1px 20px;
    border-radius: 5px;
    border: none;
    outline-color: #CFCFCF;
}

.search-container button {

    padding: 1px 20px;
    border-radius: 5px;
    border: none;
    font-size: large;
}

.search-container button:hover {

    background-color: #B5B5B5;
}

.header-bottom {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #E8E8E8;



}

.header-bottom .header-item {

    width: 100%;

    border-left: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    margin: 20px 0px;

}

.header-bottom .header-item h4 {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);


}

.header-bottom .header-item:nth-child(1) {
    border: none;


}

.header-bottom .header-item:nth-child(1):after {
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background-color: red;
    bottom: -15px;
    left: 0;



}










.cart-info_container {
    margin: 0 auto;
    width: 80%;


    /* background-color: blue; */

}

.cart-info_container #id {
    opacity: 0;

}



.id {
    display: none;
    opacity: 0;
}



.totalPrice {
    width: 100%;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
}

.totalPrice h3 {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
}

.toast {
    margin-top: 20px;
    width: 100%;
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    color: black;

    text-shadow: 0px 11px 10px rgba(0, 0, 0, 0.8);

}


footer {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

footer h3 {
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);

}

footer button {
    padding: 20px 30px;
    background-color: #313131;
    color: white;
    border: none;
    border-left: 1px solid #4F4F4F;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.cart-info_container {
    margin-top: 20px;
}

.cart-info_container .info-item-container {
    width: 100%;
}

table {
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

img {
    width: 200px;
}

.quantity-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantity-item button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 16px;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkbox-container input:checked~.checkmark {
    background-color: #4CAF50;
    border: 1px solid #4CAF50;
}

.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 10px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}