:root {
  --hover-color: #fab300;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Start: Task */
.admin__taskbar {
  width: 300px;
  height: 100vh;
  background-color: #333;
  padding: 30px 20px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.admin__taskbar--header {
  display: flex;
  justify-content: start;
  align-items: center;
}

.admin__taskbar--header__img {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 100%;
  margin-right: 20px;
  overflow: hidden;
}

.admin__taskbar--header__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.admin__taskbar--header__content {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.admin__taskbar--header__status {
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin__taskbar--header__content h1 {
  font-size: 25px;
}

.admin__taskbar--header__status span {
  display: inline-block;
  height: 15px;
  width: 25px;
  border-radius: 25px;
  margin-right: 5px;
  background-color: rgb(81, 249, 81);
  position: relative;
}

.admin__taskbar--header__status span::after {
  content: '';
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #333;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}

.hr {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 25px 0;
}

.admin__taskbar--body__list {
  list-style-type: none;
  color: #fff;
  font-size: 20px;
  width: 100%;
  margin-top: 20px;
}
.admin__taskbar--body__item {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  margin-bottom: 5px;
}

.admin__taskbar--body__item a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.admin__taskbar--body__item a::after {
  position: absolute;
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  transition: 0.5s all;
  background-color: var(--hover-color);
  bottom: 0;
  left: 0;
}

.admin__taskbar--body__item a:hover {
  color: var(--hover-color);
}

.admin__taskbar--body__item a:hover::after {
  width: 100%;
}

.admin__taskbar--body__item i {
  margin-right: 10px;
}

.admin__task--footer {
  font-size: 20px;
  width: calc(100% - 60px);
  margin: 0 30px;
  background-color: #333;
  border: none;
  color: #fff;
  height: 50px;
  position: absolute;
  bottom: 30px;
  left: 0px;
  cursor: pointer;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--hover-color);
  box-shadow: rgb(154, 154, 154) 0px 3px 0px 0px;
  border-radius: 5px;
}

.admin__task--footer i {
  margin-right: 10px;
  margin-left: 10px;
}

.admin__task--footer:focus {
  outline: none;
}

.admin__task--footer:active {
  transform: translateY(3px);
  box-shadow: rgb(154, 154, 154) 0px 0px 0px 0px;
}
/* End: Task */

/* Start: Content */
.admin__content {
  width: 100%;
  height: 100vh;
  border: 1px solid red;
}

.admin__content--header {
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  background-color: #333;
  height: 64px;
  color: #fff;
  padding: 0 20px;  
}

.admin__content--header h1 {
  float: left;
  line-height: 64px;
}

/* End: Content */
