.info_container {
  display: flex;
  max-width: 1380px;
  height: auto;
  margin: 0 auto;
  flex-direction: column;
}

.info_container .product {
  margin-bottom: 100px;
  height: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  transition: all 1s;
}

.info_container .product.reverse {
  margin-bottom: 100px;
  height: 500px;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.info_container .product .left {
  height: 100%;
  width: 50%;
  transform: translateX(-80%);
  opacity: 0;
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_container .product.reverse .right .image,
.info_container .product .left .image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.info_container .product .right {
  height: 100%;
  width: 50%;
  transform: translateX(80%);
  opacity: 0;
  transition: 0.5s all;
}

.info_container .product.reverse .left {
  height: 100%;
  width: 50%;
  transform: translateX(-80%);
  opacity: 0;
  transition: 0.5s all;
}

.info_container .product.reverse .left .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_container .product.reverse .right {
  height: 100%;
  width: 50%;
  transform: translateX(80%);
  opacity: 0;
  transition: 0.5s all;
}

.product.active .right,
.product.active .left,
.product.reverse.active .right,
.product.reverse.active .left {
  transform: translateX(0);
  opacity: 1;
}

.info_container .product.reverse .right .image img,
.info_container .product .left .image img {
  width: 80%;
  height: auto;
  /* margin-left: 80px;
  margin-top: -31px; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.info_container .product .right .type {
  border: 1px solid #333333;
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #4d4d4d;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  left: 32px;
  top: 15px;
  border-radius: 5px;
}

.info_container .product .right .name {
  font-weight: bold;
  font-size: 35px;
  position: relative;
  top: 30px;
  left: 32px;
  display: inline-block;
}

.info_container .product .right .content p {
  margin-top: 60px;
  margin-bottom: 25px;
  font-size: 20px;
  margin-left: 32px;
}

.info_container .product .right ul.custom-list {
  list-style-type: none;
  margin-left: 25px;
}

.info_container .product .right ul.custom-list li::before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin-right: 8px;
  color: green;
}

.info_container .product .right ul.custom-list li {
  font-size: 16px;
  margin: 0 0 20px 15px;
}

.info_container .product .right .type:hover {
  color: #fab913;
  cursor: default;
}
.info_container .product .right .name:hover {
  color: #fab913;
  cursor: default;
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .info_container .product {
    margin-bottom: 100px;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .info_container .product.reverse {
    margin-bottom: 100px;
    height: 500px;
    max-width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }

  .info_container .product.reverse .image,
  .info_container .product .left .image {
    overflow: hidden;
  }

  .info_container .product .left .image img {
    min-width: 380px;
    margin-left: 80px;
    margin-top: -50px;
    position: relative;
    object-fit: cover;
  }

  .info_container .product .right .type {
    border: 1px solid #333333;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #4d4d4d;
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    left: 32px;
    top: 10px;
  }

  .info_container .product .right .name {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 30px;
    margin-bottom: 0px;
    left: 32px;
  }

  .info_container .product .right .content p {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 17px;
    margin-left: 32px;
  }

  .info_container .product .right ul.custom-list li {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .info_container .product,
  .info_container .product.reverse {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }

  .info_container .product.reverse .left,
  .info_container .product .left {
    height: auto;
    width: 100%;
  }

  .info_container .product.reverse .left .image img,
  .info_container .product .left .image img {
    width: 60%;
    height: auto;
    margin-left: 40px;
    margin-top: -30px;
    position: relative;
    min-width: 530px;
    margin: 0 auto;
  }

  .info_container .product .right .type {
    border: 1px solid #333333;
    min-width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #4d4d4d;
    margin-bottom: 7px;
    padding-bottom: 0;
    position: relative;
    left: 32px;
    top: 25px;
  }

  .info_container .product.reverse .right,
  .info_container .product .right {
    height: auto;
    width: 100%;
  }

  .info_container .product .right .content p {
    margin-right: 25px;
  }

  .info_container .product .right ul.custom-list {
    margin-right: 25px;
  }

  .info_container .product.reverse .right {
    width: 100%;
  }

  .info_container .product .right ul.custom-list li {
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    position: relative;
  }
}

@media (min-width: 320px) and (max-width: 740px) {
  .info_container .product,
  .info_container .product.reverse {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
  }

  .info_container .product.reverse .left,
  .info_container .product .left {
    height: auto;
    width: 100%;
  }
  
  .info_container .product.reverse .right ul.custom-list,
  .info_container .product .right ul.custom-list {
    margin-right: 25px;
  }

  .info_container .product.reverse .left .image img,
  .info_container .product .left .image img {
    width: 70%;
    height: auto;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: -20px;
    top: -40px;
    min-width: 280px;
    margin: 0 auto;
  }

  .info_container .product .right .type {
    border: 1px solid #333333;
    width: 90px;
    height: 35px;
    min-width: 95px;
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #4d4d4d;
    margin-bottom: 7px;
    padding-bottom: 0;
    position: relative;
    left: 32px;
    top: 25px;
  }

  .info_container .product.reverse .right,
  .info_container .product .right {
    height: auto;
    width: 100%;
  }

  .info_container .product .right ul.custom-list li {
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    position: relative;
  }

  .info_container .product .right .name {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    top: 30px;
    margin-bottom: 44px;
    left: 32px;
  }

  .info_container .product.reverse .right .content p,
  .info_container .product .right .content p {
    margin-top: 45px;
    margin-bottom: 15px;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 16px;
  }
  .info_container .product .right ul.custom-list li {
    margin-bottom: 7px;
    font-size: 13px;
    display: flex;
    position: relative;
  }
}
