:root {
  --hover-color: #fab300;
}

/* HIDE MENU */
.hide__menu {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  width: 400px;
  height: auto;
  padding: 50px 20px;
  color: #333;
  z-index: 11;
  cursor: default;
  height: 100%;
  transform: translate(100%, 0);
  transition: all 0.5s;
  box-shadow: rgba(46, 46, 46, 0.2) 0px 8px 24px;
  overflow: scroll;
}

.hide__menu::-webkit-scrollbar {
  width: 6px;
}

.hide__menu::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 5px;
}

.hide__menu::-webkit-scrollbar-track {
  background: #ecebeb; /* Màu nền của thanh cuộn */
}

.hide__menu.active {
  display: block;
  opacity: 1;
  transform: translate(0, 0);
}

.hide__menu--close {
  position: absolute;
  right: 20px;
  top: 20px;
  border: none;
  font-size: 32px;
  background-color: transparent;
  cursor: pointer;
  color: #333;
}

.hide__menu--close:hover {
  color: rgb(255, 32, 32);
}

.hide__menu h1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.hide__menu--list__extention {
  color: #333;
  list-style-type: none;
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 20px;
}

.hide__menu--list__extention .header__bottom--extention-item {
  /* margin: 20px 0; */
  padding: 20px 0;
  cursor: pointer;
  display: block !important;
  position: relative;
}

.hide__menu--list__extention .header__bottom--extention-item:hover {
  background-color: #eee;
  border-radius: 20px;
}

.hide__menu--list__extention .header__bottom--extention-item::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #333;
  /* height: 2px; */
  background-color: #333;
}

.hide__menu--list__extention .header__bottom--extention-item i {
  margin: 0 15px 0 10px;
  font-size: 18px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  cursor: default;
}

.hide__menu--list__extention .header__bottom--extention__icon {
  background-color: transparent !important;
  font-size: 20px !important;
  height: 20px !important;
  width: 20px !important;
  color: #333 !important;
  float: right;
  cursor: pointer;
}

.header__bottom--extention__icon--up {
  display: none;
}

.header__bottom--extention__icon--up.active {
  display: block;
}

.header__bottom--extention__icon--down.hidden {
  display: none;
}

.hide__menu--list__extention .header__bottom--extention-item span {
  font-size: 20px;
}

.hide__menu--user__list {
  height: 0;
  opacity: 0;
  transition: 0.2s all linear;
}

.hide__menu--user__list.active {
  opacity: 1;
  height: 40px;
}

.hide__menu--user__list.active__onHideMenu {
  opacity: 1;
  height: 80px;
}

.hide__menu--user__list div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide__menu--user__list div:hover {
  color: var(--hover-color);
}

.hide__menu--user__list div button {
  font-size: 18px;
  font-weight: bold;
  border: none;
  background: transparent;
  text-decoration: none;
  color: #333;
  padding: 10px 10px;
  display: block;
  cursor: pointer;
  width: 100%;
}

.hide__menu--user__list div button:hover {
  color: var(--hover-color);
}

.hide__menu--list__types {
  height: 0;
  transition: all 0.5s linear;
  overflow: hidden;
}

.hide__menu--list__types.active {
  height: 234px;
}

.hide__menu--list__type {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  /* display: none; */
}

.hide__menu--list__type:hover {
  background-color: #eee;
  border-radius: 5px;
}

.hide__menu--list__type a {
  text-decoration: none;
  color: #333;
  padding: 10px 10px;
  display: block;
}

.hide__menu--list__type a:hover {
  color: var(--hover-color);
}
